@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.showcase{
    
    height: 100vh;
    width: 100%;
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    overflow-x: hidden;
    overflow: hidden;
}
.overlay{
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1;
    background: radial-gradient(at center center,#153243 0%,#1A6C7A 100%);
    opacity:0.5;
    overflow: hidden;
    
}

.hero{
     overflow-x: hidden;
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     z-index: 100;
     overflow: hidden;
     /* max-width: 1300px;
    margin-left: auto;
    margin-right: auto; */
    /* background-color: lightcoral; */
 }

 header{
     width: 100%;
     height: 15vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .navLinks{
     display: flex;
     list-style: none;
     align-items: center;

 }
 .navLinks li{
     margin-right: 2rem;
 }
 .navLinks li a{
     list-style: none;
     color: rgb(233, 230, 230);
     font-weight: 400;
     text-decoration: none;
     font-size: 16px;
 }

 .navLinks li a:hover{
     color: white;
 }

 .btn{
     display: inline-block;
     color: white !important;
     font-weight: 600 !important;
     padding: 16px 40px;
     background: #1a6c7a !important;
     font-size: 12px !important;
     letter-spacing: 2px;
     text-transform: uppercase;
     text-decoration: none;
     border: 2px solid rgba(0,104,122,0.7);
     transition: all 0.3s ease;
 }

 .btn:hover{
     background: #1d7888 !important;
 }
 
 .max-width{
     max-width: 1200px;
     margin-left: auto;
     margin-right: auto;
 }

 .btn-container{
     display: flex;
     /* background: lightcoral; */
     margin: auto;
     align-items: center;
     justify-content: center;
     text-align: center;
 }
 

.hero-content{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  overflow: hidden;
}

.hero-content h2{
    font-size: 2.4rem;
    font-weight: 400;
    margin: 1rem 0;
}

.hero-content h1{
    font-size: 4rem;
    font-weight: 500 !important;
    margin-bottom: 1rem;
}
.hero-content p{
    font-size: 1rem;
    max-width: 700px;
    margin-bottom: 1.5rem;
}

.btn-tra{
    background: transparent  !important;
    border-color: white;
    margin: 0 1rem;
    transition: all 0.3s ease;

}

.btn-light{
    background: white !important;
    color: black !important;
    border: transparent;
    margin: 0 1rem;
    transition: all 0.3s ease;    
}

.btn-tra:hover{
    border-color:rgba(0,104,122,0.7) ;
}

.btn-light:hover{
    color: white !important;
}

.burger{
    padding: 1rem 1.2rem;
    background: #1a6c7a;
    margin-right: 1rem;
    cursor: pointer;
    display: none;
}

.burger .fa-bars{
    color: white;
}

.image-container{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    /* background: lightcoral; */
    

}

.services{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.service-box{
    height: 320px;
    width: 370px;
    position: relative;
    cursor: pointer;
  
}
.service-box:hover > .box-overlay{
    background-color: #1A6C7A;
}
.box-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #111;
    opacity: 0.3;
    z-index: 1;
    transition: all 0.3s ease;
}
.box-text{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 90;
    color: white;
}
.box-text h2{
    letter-spacing: 1.8px;
    text-transform: lowercase;
    font-size: 2.1rem;
}

.box1{
    background: url('../img/ser1.jpg')no-repeat center center/cover;

}


.box2{
    background: url('../img/serv3.jpg')no-repeat center center/cover;

}

.box3{
    background: url('../img/serv2.jpg')no-repeat center center/cover;

}

.services-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 2rem 0;
    height: 400px;
}

.service-title{
    /* background: lightcoral; */
}
.service-title h1{
    font-weight: 500;
    font-size: 1.6rem;
    
}

.service-para{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.service-para p{
    line-height: 1.5rem;
}

.srs-btn{
    display: inline-block;
    background-color: lightcoral;
    height: auto;
    width: 170px;
    padding: 14px 30px;
    border: 2px solid #1A6C7A;
    background: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    color: #1A6C7A;
    transition: all 0.3s ease;
    font-weight: 500;
}
.srs-btn:hover{
    background: #1A6C7A;
    color: white;
}

.action{
    height: 500px;
    background: url('../img/action.jpg')no-repeat center center/cover;
    position: relative;
}

.action-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #1A6C7A;
    opacity: 0.7;
}
.action-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}
.action-content h1{
    margin: 2rem;
    font-size: 2rem;
    font-style: italic;
}
.action-content p{
    max-width: 500px;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}
.action .btn{
    background: transparent !important;
    border: 2px solid white !important;
    color: white !important;
    margin-top: 1rem !important;
}
.action .btn:hover{
    background: #fff !important;
    color: black !important;
}

.contact{
    height: auto;
    padding: 2rem 0;
}

.contact-container{
    height: 200px;
    display: grid;
    grid-template-columns: 60% 40%;
}
.contact-a{
    height: 100%;
    width: 100%;
    /* background: lightblue; */

}
.contact-a img{
    margin-bottom: 1rem;
}
.contact-a h3{
    color: #1a6c7a;
    max-width: 300px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6rem;
    margin-bottom: 1rem;
}

.contact-b{
    height: 100%;
    width: 100%;
    /* background: lightcoral; */
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.s-btn{
    height: 40px;
    width: 40px;
    background: rgb(228, 227, 227);
    border-radius: 50%;
    border: none;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
}
.s-btn .fa{
    color: #1A6C7A !important;
}

.contact-about h3,.contact-connect h3{
    margin-bottom: 1rem;
}
.contact-about ul,.contact-connect ul{
 list-style: none;
}

.contact-about ul li,.contact-connect ul li{
     margin-bottom: 10px;
     font-weight: 300;
     color: #306CA1;
}

.contact-connect{

}



@media(max-width:980px){
    .service-box{
        width: 90% !important;
    }
    
    
}


.gallery{
    height: auto;
    padding: 2rem 0;
    /* background: rgb(190, 226, 238); */
}
.gallery img{
    width: 100%;
}
.img-container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 2rem 0;
}
.img-box{
    height: 280px;
    width: 390px;
    
}
.img-box img{
    height: 100%;
    width: 100%;
}

@media(max-width:780px){
    .burger{
        display:block;
    }
    .navLinks{
        /* display: none; */
        position: absolute;
        top: 13vh;
        left: 0;
        background: white;
        flex-direction: column;
        width: 100%;
        height: auto;
        z-index: 100;
        justify-content: space-evenly;
        display: none;
    }
    .navLinks.show{
        display: block;
    }
    
    .navLinks li{
        border-bottom: 1px solid black;
        width: 100%;
        /* text-align: center; */
        padding: 1.1rem;

    }
    .navLinks li a{
        padding: 0.5rem;
        color: black;
    }
    .navLinks li a:hover{
        color: #1A6C7A !important;
    }
    .navLinks li .btn{
        background: transparent !important;
        color: black !important;
        border: none;
        font-weight: normal !important;
        text-transform: capitalize !important;
        font-size: 16px !important;
        letter-spacing: 1px !important;
        padding: 0 0.5rem;
    }
    .logo{
        padding-left: 1rem;
    }
    .logo img{
        height: 100px;
        width: 160px;
        object-fit: contain;
        /* background: lightcoral; */
    }
    .hero-content{
        width: 100%;
        padding: 1rem;
        /* background-color: lightcoral; */
    }
    .hero-content h2{
        font-size: 1.6rem;
    }
    .hero-content h1{
        font-size: 2.5rem;
    }
    .hero-content p{
        font-size: 16px;
    }
    .btn{
        padding: 14px 30px;
    }

    .showcase{
        height: 100vh;
        width: 100%;
    }
    .overlay{
        height: 100vh;
        width: 100%;
    }
    .hero{
        height: 100vh;
        width: 100%;
    }
    .hero-content{
        top: 60%;
        width: 100%;
    }
    .btn-container{
        flex-direction: column;
        margin-top: 1rem;
    }
    .btn-tra{
        margin: 1rem 0;
    }
    
    .btn-light{
        margin: 1rem 0;
    }
    .image-container{
        flex-direction: column;
        height: auto;
    }
    .service-box{
        margin-left: auto;
        margin-right: auto;
        margin-top:1rem ;
        width: 90%;
    }
    .services-text{
        grid-template-columns: 1fr;
        text-align: center;
        padding: 1rem;
        gap: 0.7rem !important;
    }
    .service-para{
        align-items: center;
        justify-content: space-between;
    }
    .action-content{
        padding: 1rem;
    }
    .img-container{
        grid-template-columns: 1fr;
        place-items: center;
    }
    .img-box{
        width:90% ;
        height: 400px;
    }
    .contact-container{
        grid-template-columns: 1fr;
        padding-left: 2rem;
        gap: 1rem;
    }
  .contact-b h3{
    font-size: 1.3rem;
    
  }
  .contact-about,.contact-connect{
      padding-right: 1rem;
    
  }
  
    
    .contact-b{
        justify-content: flex-start;
    }
}